.product-o__name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.product-o {
    overflow: hidden;
}

.load-more > .btn {
    padding: 22px 56px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #fff !important;
}

.add_to_cart_form {
    display: block;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    color: #ffffff;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}
